In [2]:
# Importating the libraries
import numpy as np
import pandas as pd
df1 = pd.read_csv("D://Sem 3//Hemlata Maam//Bread Basket//BreadBasket_DMS.csv")

In [3]:
df1.shape

(21293, 4)

In [4]:
df1.head(10)

         Date      Time  Transaction           Item
0  2016-10-30  09:58:11            1          Bread
1  2016-10-30  10:05:34            2   Scandinavian
2  2016-10-30  10:05:34            2   Scandinavian
3  2016-10-30  10:07:57            3  Hot chocolate
4  2016-10-30  10:07:57            3            Jam
5  2016-10-30  10:07:57            3        Cookies
6  2016-10-30  10:08:41            4         Muffin
7  2016-10-30  10:13:03            5         Coffee
8  2016-10-30  10:13:03            5         Pastry
9  2016-10-30  10:13:03            5          Bread

In [5]:
# checking the null values in the data set & print them in an ascending order
df1.isnull().sum().sort_values(ascending=False)

Item           0
Transaction    0
Time           0
Date           0
dtype: int64

In [6]:
# Sales of items 
count = df1['Item'].value_counts() 
print(count)

Coffee                           5471
Bread                            3325
Tea                              1435
Cake                             1025
Pastry                            856
NONE                              786
Sandwich                          771
Medialuna                         616
Hot chocolate                     590
Cookies                           540
Brownie                           379
Farm House                        374
Muffin                            370
Juice                             369
Alfajores                         369
Soup                              342
Scone                             327
Toast                             318
Scandinavian                      277
Truffles                          193
Coke                              185
Spanish Brunch                    172
Fudge                             159
Baguette                          152
Jam                               149
Tiffin                            146
Mineral water                     136
Jammie Dodgers                    125
Chicken Stew                      123
Hearty & Seasonal                 107
                                 ...
Argentina Night                     7
Coffee granules                     7
Half slice Monster                  6
Crepes                              6
Honey                               6
Basket                              6
Pintxos                             6
Lemon and coconut                   6
Mortimer                            5
Bare Popcorn                        5
Panatone                            5
Bread Pudding                       4
Brioche and salami                  3
Cherry me Dried fruit               3
Raspberry shortbread sandwich       3
Caramel bites                       3
Chimichurri Oil                     2
Siblings                            2
Hack the stack                      2
Spread                              2
Bowl Nic Pitt                       2
Fairy Doors                         2
Bacon                               1
Adjustment                          1
Olum & polenta                      1
Chicken sand                        1
Gift voucher                        1
The BART                            1
Polenta                             1
Raw bars                            1
Name: Item, Length: 95, dtype: int64

In [7]:
#Total number of unique items present
len(df1['Item'].unique().tolist())

95

In [8]:
#delete a particular item in a column/ printed those rows that do not have a NONE value
df1 = df1[df1.Item!='NONE']
df1

             Date      Time  Transaction                  Item
0      2016-10-30  09:58:11            1                 Bread
1      2016-10-30  10:05:34            2          Scandinavian
2      2016-10-30  10:05:34            2          Scandinavian
3      2016-10-30  10:07:57            3         Hot chocolate
4      2016-10-30  10:07:57            3                   Jam
5      2016-10-30  10:07:57            3               Cookies
6      2016-10-30  10:08:41            4                Muffin
7      2016-10-30  10:13:03            5                Coffee
8      2016-10-30  10:13:03            5                Pastry
9      2016-10-30  10:13:03            5                 Bread
10     2016-10-30  10:16:55            6             Medialuna
11     2016-10-30  10:16:55            6                Pastry
12     2016-10-30  10:16:55            6                Muffin
13     2016-10-30  10:19:12            7             Medialuna
14     2016-10-30  10:19:12            7                Pastry
15     2016-10-30  10:19:12            7                Coffee
16     2016-10-30  10:19:12            7                   Tea
17     2016-10-30  10:20:51            8                Pastry
18     2016-10-30  10:20:51            8                 Bread
19     2016-10-30  10:21:59            9                 Bread
20     2016-10-30  10:21:59            9                Muffin
21     2016-10-30  10:25:58           10          Scandinavian
22     2016-10-30  10:25:58           10             Medialuna
23     2016-10-30  10:27:21           11                 Bread
24     2016-10-30  10:27:21           11             Medialuna
25     2016-10-30  10:27:21           11                 Bread
27     2016-10-30  10:30:14           12                   Jam
28     2016-10-30  10:30:14           12                Coffee
29     2016-10-30  10:30:14           12               Tartine
30     2016-10-30  10:30:14           12                Pastry
...           ...       ...          ...                   ...
21262  2017-04-09  12:22:40         9670            Farm House
21263  2017-04-09  12:28:01         9671                 Bread
21264  2017-04-09  12:31:28         9672                Coffee
21265  2017-04-09  12:31:28         9672               Cookies
21267  2017-04-09  12:31:28         9672  Extra Salami or Feta
21268  2017-04-09  12:32:03         9673        Spanish Brunch
21269  2017-04-09  12:32:03         9673                Coffee
21270  2017-04-09  12:32:03         9673                 Bread
21271  2017-04-09  13:04:08         9674                Coffee
21272  2017-04-09  13:06:34         9676             Smoothies
21273  2017-04-09  13:06:34         9676              Sandwich
21274  2017-04-09  13:20:23         9677          Tacos/Fajita
21275  2017-04-09  13:20:23         9677                  Coke
21276  2017-04-09  13:49:21         9678                Coffee
21277  2017-04-09  13:49:21         9678          Tacos/Fajita
21278  2017-04-09  13:49:21         9678                 Toast
21279  2017-04-09  14:08:37         9679                 Bread
21280  2017-04-09  14:08:37         9679        Spanish Brunch
21281  2017-04-09  14:24:03         9680                 Bread
21282  2017-04-09  14:30:09         9681              Truffles
21283  2017-04-09  14:30:09         9681                   Tea
21284  2017-04-09  14:30:09         9681        Spanish Brunch
21285  2017-04-09  14:30:09         9681      Christmas common
21286  2017-04-09  14:32:58         9682                Muffin
21287  2017-04-09  14:32:58         9682          Tacos/Fajita
21288  2017-04-09  14:32:58         9682                Coffee
21289  2017-04-09  14:32:58         9682                   Tea
21290  2017-04-09  14:57:06         9683                Coffee
21291  2017-04-09  14:57:06         9683                Pastry
21292  2017-04-09  15:04:24         9684             Smoothies

[20507 rows x 4 columns]

In [9]:
#Total number of unique items present
len(df1['Item'].unique().tolist())

94

In [10]:
#Import the following libraries// apriori is used for association rules & structured relationships
import seaborn as sns
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import mlxtend as ml

In [11]:
bb = df1.groupby(['Transaction','Item']).size().reset_index(name='count')
basket = (bb.groupby(['Transaction', 'Item'])['count']
          .sum().unstack().reset_index().fillna(0)
          .set_index('Transaction'))

#The encoding function
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
basket_sets = basket.applymap(encode_units)

In [12]:
# FInal Output of Bread Basket

frequent_itemsets = apriori(basket_sets, min_support=0.01, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift")
rules.sort_values('confidence', ascending = False, inplace = True)
rules.head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
41,(Toast),(Coffee),0.033597,0.478394,0.023666,0.704403,1.472431,0.007593,1.764582
39,(Spanish Brunch),(Coffee),0.018172,0.478394,0.010882,0.598837,1.251766,0.002189,1.300235
27,(Medialuna),(Coffee),0.061807,0.478394,0.035182,0.569231,1.189878,0.005614,1.210871
31,(Pastry),(Coffee),0.086107,0.478394,0.047544,0.552147,1.154168,0.006351,1.164682
2,(Alfajores),(Coffee),0.036344,0.478394,0.019651,0.540698,1.130235,0.002264,1.135648
25,(Juice),(Coffee),0.038563,0.478394,0.020602,0.534247,1.116750,0.002154,1.119919
33,(Sandwich),(Coffee),0.071844,0.478394,0.038246,0.532353,1.112792,0.003877,1.115384
15,(Cake),(Coffee),0.103856,0.478394,0.054728,0.526958,1.101515,0.005044,1.102664
35,(Scone),(Coffee),0.034548,0.478394,0.018067,0.522936,1.093107,0.001539,1.093366
21,(Cookies),(Coffee),0.054411,0.478394,0.028209,0.518447,1.083723,0.002179,1.083174

In [ ]:
# Support is the percentage of transactions containing a particular combination of items 
# relative to the total number of transactions in the database.

# Confidence measures how much the consequent (item) is dependent on the antecedent (item)

# Lift is said to measure the difference — measured in ratio — between the confidence of a rule and the expected confidence.